body
{
  font-family: 'roboto', sans-serif;
}

#pageContainer
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chatForm
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#userList
{
  list-style-type: none;
}

#chatList
{
  margin: 0px;
  padding-left: 0.25em;
  padding-right: 0.25em;

  list-style-type: none;
}

#chatList li
{
  padding-left: 0.25em;
  padding-right: 0.25em;

  border-radius: 4px;
}

#chatList li:nth-child(even)
{
  background-color: #e0e0e0;
}

#chatList li > .author
{
  font-weight: 700;
}

#loginModal
{
  position: absolute;

  width: 50vw;
  height: 50vh;

  left: 25vw;
  top: 25vh;

  z-index: 9999;
}

#loginShade
{
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 9998;
}

#loginError
{
  background-color: #FF8A80;
  display: none;

  border-radius: 4px;

  padding: 0.25em;
}

.mdl-navigation__link
{
  cursor: pointer;
}

.mdl-navigation__link.active
{
  font-weight: 700;
  background-color: #e0e0e0 !important;
}

.mdl-navigation__link.highlight
{
  background-color: #ccff90;
}

.userName
{
  line-height: 2.5em;
}

.other.whisper.message
{
  opacity: 0.5;
}

.other.whisper.message:hover
{
  opacity: 1;
}

.notification
{
  background-color: #B9F6CA !important;
}

.error
{
  background-color: #FF8A80 !important;
}

.warning
{
  background-color: #F4FF81 !important;
}
